<%= simple_form_for(@userproject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :project_id %>
    <%= f.input :expert %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
