<h1>Listing userprojects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Expert</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userprojects.each do |userproject| %>
  <tr>
    <td><%= userproject.user_id %></td>
    <td><%= userproject.project_id %></td>
    <td><%= userproject.expert %></td>
    <td><%= link_to 'Show', userproject %></td>
    <td><%= link_to 'Edit', edit_userproject_path(userproject) %></td>
    <td><%= link_to 'Destroy', userproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userproject', new_userproject_path %>
