<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Body:</b>
  <%= @project.body %>
</p>

<p>
  <b>Video:</b>
  <%= @project.video %>
</p>

<p>
  <b>Funded:</b>
  <%= @project.funded %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
